.react-resizable {
  max-width: auto;
  margin-bottom: 20px;
}

.react-resizable-handle-se {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 8px;
  background-color: lightblue;
  cursor: row-resize;
}

.inputs-container {
  /* css that puts child items in a row aligned to the left*/
  margin-top: 20px;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

label {
  /* css that puts child items in a column aligned to the left*/

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 11px;
}


/* css that make input type="number" 200px wide*/
input {
  width: 60px;
  background-color: #021d2f;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  margin-right: 8px;
  padding-top: 4px;
}

textarea {
  text-justify: interword;
  margin-top: 0px;
  background-color: #021d2f;
  color: #fff;
  width: 100%;
  flex-grow: 1;
  min-width: 70rem;
}


g rect {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.formulaOutput {
  font-size: 16px;
  font-family: "Roboto", monospace;
  background-color: #444;
  padding: 8px;
}

.outputContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.slider-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}


.slider {
  width: 100%;
  margin: 0 auto;
}

.sliderNumField {
  width: 50px;
  margin: 0 auto;
}

.inputs-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.chart-container {
display: block;
width: 4000px;
/* */
}

.zoom-slider {
  width: 100%;
  margin: 0 auto;
}