body { 
 margin: 0;
 overflow-x: hidden;
 background: #021d2f;
 color: #fff;
 font-family: "Roboto", sans-serif; 
}

h3 {
    margin-bottom: 8px;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: orange #021d2f;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #021d2f;
}

*::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 20px;
    border: 3px solid #021d2f;
}